.range-slider {
  margin: 30px 0 0;
  width: 100%
}

.range-slider p {
  margin: 1rem 0;
  font-weight: 700
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - 90px);
  height: 10px;
  border-radius: 2px;
  background: #3e3e3e;
  outline: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #0cf;
  cursor: pointer;
  transition: background .15s ease-in-out;
  border: 1px solid #ccc;
}

.range-slider__range::-webkit-slider-thumb:hover {
  background: #007195;
}

.range-slider__range:active::-webkit-slider-thumb {
  background: #007195
}

.range-slider__range::-moz-range-thumb {
  width: 15px;
  height: 30px;
  border-radius: 0;
  background: #0cf;
  cursor: pointer;
  transition: background .15s ease-in-out;
  border: 1px solid #ccc;
}

.range-slider__range::-moz-range-thumb:hover,.range-slider__range:active::-moz-range-thumb {
  background: #007195
}

.range-slider__value {
  display: inline-block;
  position: relative;
  width: 78px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50;
  padding: 5px 10px;
  margin-left: 8px
}

.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #2c3e50;
  border-bottom: 7px solid transparent;
  content: ""
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0
}

input::-moz-focus-inner,input::-moz-focus-outer {
  border: 0
}

.range-range-slider.vertical {
  display: inline-block;
}

input.range-slider__range.vertical {
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: 13% 50%;
  transform: rotate(-90deg);
  transform-origin: 13% 50%;
  width: 130px;
  margin: 0 auto;
}